body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;
  color: white;
}
.bg-warning {
  margin-left: 5px;
}
.continer {
  padding: 2rem;
}

.button-secondary {
  background-color: #db2777;
  color: white;
  font-size: 1rem;
}
.button-secondary:hover {
  background-color: white;
  color: black;
  border: 1px solid #db2777;
  font-size: 1rem;
  font-weight: bold;
}

.btn-color:hover {
  color: white;
}

.button-primary {
  background-color: #0891b2;
  color: white;
}

.uk-flex-cart {
  display: flex;
}

.uk-card {
  width: 30%;
  padding: 3rem;
}

.card {
  background-color: white;
  box-shadow: 10px 10px 49px -17px rgba(23, 23, 23, 0.2);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.uk-navbar-container {
  background: #f1f5f9;
}

.navlinke-button-secondary {
  text-decoration: none;
  background-color: #0891b2;
  color: white;
  padding: 0.6rem 3.5rem;
  align-self: center;
}
.navlinke-button-secondary:hover {
  text-decoration: none;
  background-color: #0891b2;
  color: white;
}

#product {
  font-size: 1.2rem;
  color: black;
  padding-top: 11px;
}

#search {
  padding: 1.3rem 1.1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px #94a3b8;
}

#registration_form {
  max-width: 40rem;
  margin: auto;
  /* border: solid 1px #ddd; */
  border: none;
}

#registration_form .card-body {
  padding: 2rem;
}

#registration_form input {
  padding: 0.6rem;
  border: solid 1px #bbb;
  border-radius: 5px;
  width: 100%;
  resize: none;
  color: #333;
}

#registration_form input:hover {
  border: 2px solid #0891b2;
}

#registration_form label {
  font-weight: bold;
}

#registration_form button {
  border: none;
  padding: 0.75rem 16rem;
  margin-top: 2rem;
  border: 1px solid #ff5574;
  border-radius: 30px;
  background-color: #ff5574;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
